@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/********** Template CSS **********/
:root {
    --primary: #054163;
    --secondary: #031d26;
    --light: #F4F7FE;
    --dark: #031115;
}

body{
    background-color: #031115;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
  
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** text Animation */



/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}
h1{
    font-family: "Titillium Web", sans-serif;
    font-weight: 700 !important;
    font-style: normal;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}
.about-p{
    color:#a2a1a1;
}
.about-h1{
    color:#0471b0;
}
.about-h1-header{
    color:#054163;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 20px;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  fill: #1dacff;
  
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
    background-color: #054163;
    color: white;
    border-color: #054163 ;
   
}
.hero-span{
    color: #065685 !important;;
}
.hero2{
 
   color: white;
   border-color: #065685 ;
   background-color: transparent;
   transition: .5s;
   
}
.hero3 {
   
    transition: .5s;
   
    color: white;
    border-color: #1b8fd2 ;
   
}
.hero3:hover {
   
    transition: .5s;
   background-color: #0a69a0;
    color: rgb(255, 255, 255);
   
   
}


.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

/* ***Img background */


/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar {
    padding: 40px 0 !important;
    height: 75px;

  
}
.navbar-nav{
    background-color: #ffffff1f;
    padding: 18px 18px 18px 18px !important;
   border-radius: 100px;
   margin-top: 10px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 0;
    color: rgba(255, 255, 255, .7);
    outline: none;
   
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 1);
    /* border-bottom: 3px solid rgb(8, 115, 198); */
    transition: 0.5s ease-out;
    font-weight: bold;
    
   
    
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 0 15px;
        background: var(--primary);
        border-radius: 0;
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Hero Header ***/
.hero-header {
    margin-top: -75px;
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}

.img-wave1{
    transform: rotate(-90deg) !important;
    top:0;
    margin-left: -600px;
    opacity: 0.2;
}
.img-wave2{
    transform: rotate(90deg) !important;
   
    margin-left: 200px;
    opacity: 0.2;
    margin-top: -40px;
}
.img-load{
    animation: scale 1s linear infinite !important;
    margin-left: -10px;
  }
  .img-1{
    animation: scale 40s linear infinite !important;
   
  }
    
  @keyframes scale {
    50% {
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -ms-transform:scale(1.2);
      -o-transform:scale(1.2);
      transform:scale(1.2);
    }
  }


/*** About ***/
.about-img {
    position: relative;
    overflow: hidden;
}

/* .about-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/bg-about-img.png) top left no-repeat;
    background-size: contain;
} */


/*** Service ***/
.service-item {
    position: relative;
    padding: 45px 30px;
    background: #FFFFFF;
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    color: var(--primary);
    background: var(--light);
    transition: .5s;
}

.service-item:hover .service-icon {
    background: #FFFFFF;
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF;
}

.service-item a.btn {
    position: relative;
    display: flex;
    color: var(--primary);
    transition: .5s;
    z-index: 1;
}

.service-item:hover a.btn {
    color: var(--primary);
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: var(--light);
    transition: .5s;
    z-index: -1;
}

.service-item:hover a.btn::before {
    width: 100%;
    background: var(--light);
}


/*** Feature ***/
.feature {
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
}


/*** Newsletter ***/
/* .newsletter {
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
} */

@media (min-width: 992px) {
    .newsletter .container {
        max-width: 100% !important;
    }

    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Case Study ***/
.case-item img {
    transition: .5s;
}
  
.case-item:hover img {
    transform: scale(1.2);
}
  
.case-overlay {
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: linear-gradient(rgba(20, 24, 62, 0), var(--dark));
    z-index: 1;
}

.case-overlay small {
    display: inline-block;
    padding: 3px 15px;
    color: #FFFFFF;
    background: rgba(20, 24, 62, .7);
    border-radius: 25px;
    margin-bottom: 15px;
}

.case-overlay span.btn:hover {
    color: var(--primary);
    background: #FFFFFF;
    border-color: #FFFFFF;
}


/*** FAQs ***/
.accordion .accordion-item {
    border: none;
    margin-bottom: 15px;
}

.accordion .accordion-button {
    background: var(--light);
    border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background: var(--primary);
    box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
    padding: 15px 0 0 0;
}


/*** Testimonial ***/
.testimonial-carousel {
    position: relative;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 40px;
    height: 100%;
    top: calc(50% - 50px);
    left: -21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 5px 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    border: 1px solid var(--primary);
    border-radius: 40px;
    font-size: 18px;
    transition: .5s;
} */

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: #FFFFFF;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px;
    margin-left: 3rem;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 13px;
    height: 13px;
    background: #FFFFFF;
    border: 1px solid rgba(49, 154, 215, 0.234) ;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}


/*** Team ***/
.team-item {
    transition: .5s;
    border: 1px solid transparent;
    transition: .5s;
}

.team-item:hover {

    border-color: var(--primary);
}


/*** Footer ***/
.footer {
    background: url(../img/footer.png) center center no-repeat;
    background-size: contain;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,.5);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,.5);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: #FFFFFF;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: rgba(255,255,255,.5);
}

.footer .copyright a:hover {
    color: #FFFFFF;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}



/* video */
#bg-video {
    min-width: 100%;
    min-height: 99.9vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
    margin-top: -75px;
   
    /* transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg); */
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    position: absolute;
    background-color: #031115cc;
    top: 0;
    left: 0;
    height: 105%;
    
    width: 100%;
}
@media (max-width: 700px) {
    .video-overlay {
        width: 200%;
    }

    .navbar-toggler{
       margin-top: -66px !important;
    }
    .logo{
        margin-top: 5px !important;
     }
    
}
@media (max-width: 800px) {
    .video-overlay {
        width: 100%;
    }
.testimonials{
    margin-top: -180px;
}
  h1 .logo{
        width:20%;
        align-items: center;
    }
    #bg-video{
        min-width: 100%;
        min-height: 99.9vh;
        max-width: 100%;
        max-height: 100vh;
        object-fit: cover;
        z-index: -1;
        margin-top: -75px;
        transform: rotateY(-180deg);
        -webkit-transform:rotateY(-180deg); /* Safari and Chrome */
        -moz-transform:rotateY(-180deg); /* Firefox */

    }
    
}
.bg-col{
    width: 680px;
    height: 400px;
  
   justify-content: center;
   margin-top: 100px;
   border-radius: 10px;
}
@media (max-width: 800px) {
    .bg-col{
      
        margin-left:-25px ;
        margin-top:190px;
        width: 500px;
        height: 400px;
    }
    .navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 1);
   
    transition: 0.5s ease-out;
    background-color: #054163;
    
   
    
}
.proj-img{
  width: 500px !important;
}

}

.logo{
    width:20%;
    margin-top: 20px;
}

/* carousel */


#marquee__container {
    background-color: #ffffff;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    padding: 2rem 0;
    border-radius: 18px;
    }
    
    
    .marquee__title {
        font-size: 3rem;
        color: #5e5e5e;
        margin: 2rem 0;
        text-align: center;
        padding: 1rem;
    }
    
    .marquee {
        background-color: #ffffff;
        color: lightgrey;
        width: 80vw;
        overflow: hidden;
        
    }
    
    .marquee__content {
        list-style: none;
        height: 100%;
        display: flex;
        animation: scrolling 30s linear infinite;
    }
    
    
    .marquee__content li {
        width: 20vw;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    
    
    .marquee__img {
        width: 13vw;
        padding: 1rem;
    }
    
    
    
    @keyframes scrolling{
    0% { transform: translateX(-0vw); }
    100% { transform: translateX(-160vw); }
    }
    
    
    
    
    
    /*HOVER / PAUSED STATE*/
    .marquee__content:hover {
        animation-play-state: paused;
    }
    
    .marquee__img:hover {
        transition: all .4s ease;
        border-radius: 10px;
        box-shadow: 0 0 10px #e0e0e0;
    }
    
    
    
    
    
    
    
    
    
    /*///////////////////////////////////////////////////////////////////////////*/
    
    
    
    
    /*TABLET VERSION*/
    @media screen and (max-width: 1100px) {
        
        .marquee__title {
            font-size: 2.5rem;
            padding: 0rem;
        }
    
    
        .marquee__content li {
            width: 25vw;
        }
    
        .marquee {
            width: 95vw;
            margin: 1rem 0;
        }
    
    
        .marquee__img {
            width: 20vw;
        }
    
    
        @keyframes scrolling {
        0%   {transform: translateX(-0vw);}
        100% { transform: translateX(-200vw);}
        }
    
    }
    
    
    
    
    
    
    
    /*MOBILE VERSION*/
    @media screen and (max-width: 500px) {
        
    
    .marquee__img {
        width: 50vw;
    }
    
    .marquee__content {
        animation: scrolling 25s linear infinite;
    }
    
    
    .marquee__content li {
        width: 100%;
    }
    
    
    .marquee--invisible--mobile {
        display: none!important;
    }
    
    @keyframes scrolling {
    0% { transform: translateX(-0vw); }
    100% { transform: translateX(-760vw); }
    }
    
    }

    /* srcoll progress*/

    #scroll-progress {
        position: fixed;
        top: 0;
        width: 100%;
        height: 4px;
        background: #05c9ff;
        z-index: 10000;
      }
      /* typing */
      .text {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
      }
      
      .textclass {
        color: red;
      }
      
      .t1 {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        animation: type 2s steps(12, end), curser1 0.8s 4;
        border-right: 8px  transparent;
        animation-delay: 0;
        transition: 0.2s;
        font-size:3.9vw;
        margin-top: 100px;
        display: block;
      }
      
      .t2 {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        animation: type 2s steps(19, end), curser 0.8s infinite;
        border-right: 8px solid white;
        animation-fill-mode: both;
        animation-delay: 2s;
        font-size:3.9vw;
      }
      
      .t1:active {
        border-right: 8px solid transparent;
      }
      
      @keyframes type {
        0% {
          width: 0;
        }
        100% {
          width: 100%;
        }
      }
      
      @keyframes curser {
        0% {
          border-color: transparent;
        }
        50% {
          border-color: white;
        }
        100% {
          border-color: transparent;
        }
      }
      
      @keyframes curser1 {
        0% {
          border-color: transparent;
        }
        50% {
          border-color: white;
        }
        100% {
          border-color: transparent;
        }
      }
      
      
      /* contact us Form dark*/
      
      .contact-container{
        /* background-color: #054163; */
        z-index: 100;
      }

    /* cursor */
    /* typing effects */
    .read-width {
        max-width: 830px;
      }
      
      #typewriter {
        display: inline-block;
        font-size: 15px;
        font-weight: lighter !important;
       
       
        color: #ffffff;
      
        letter-spacing: 1px;
      }
      
    p {
        word-wrap: wrap;
       
        line-height: 1.25;
        font-family: "Titillium Web", sans-serif;
        font-weight: 300;
        font-style: normal;
      
        
      }
      
      #sentence {
        animation: blink-caret 0.7s step-end infinite;
        border-right: .15em solid #FFB52B;
      }
      
      @keyframes blink-caret {
        50% { border-color: transparent }
      }
    
    /* animated tex 2 */
    
      #text {
        max-width: 700px;
        text-align: left;
        width: 100%;
        color:  rgb(255, 255, 255);
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 55px;
        line-height: 2ch;
        margin-top: -100px;
        letter-spacing: -1px;
       
      }
      #text.typing span:last-child {
        background-color: rgb(4, 52, 74);
       width: 10px;
       /* font-style:italic; */
      }

      /* cards */
      .card-t {
        width: 280px;
        height: 150px;
        background: #054163;
        border-radius: 15px;
        box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,#054163 -5px 0px 250px;
        display: flex;
        color: white;
        justify-content: center;
        position: relative;
        flex-direction: column;
        background: linear-gradient(to right, #054163, rgb(36, 59, 85));
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
      }
      /* .card-1{
        margin: 100px !important;
      }
       */
      .card-t:hover {
        box-shadow: rgb(0,0,0) 5px 10px 50px ,rgb(0,0,0) -5px 0px 250px;
        transform: scale(-2px);
      }
      
      .time-text {
        font-size: 20px;
        margin-top: 0px;
        margin-left: 15px;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
      .time-sub-text {
        font-size: 12px;
        margin-left: 5px;
      }
      
      .day-text {
        font-size: 14px;
        margin-top: 0px;
        margin-left: 15px;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
      .bi-phone-fill,.bi-laptop-fill,.bi-shield-lock-fill,.bi-hdd-stack {
        font-size: 40px !important;
        position: absolute;
        right: 15px;
        top: 15px;
        transition: all 0.3s ease-in-out;
      }
      
      .card:hover > .bi {
        font-size: 23px;
      }

      @media screen and (max-width: 800px) {
     
        .cursor {
          display: none;
           
          }
          #text{
           font-size: 50px;
           margin-top: 100px;
           width: 400px;
          }
         #scroll-wrapper{
          top: 50;
          left: 50;
         }
         
          .card-t{
            width: 100%;
            height: 150%;
            margin-bottom: 20px;
            margin-left: 10px !important;
          }
          .time-text{
            display: block;
          }
      }
      .hero-bgr{
        background-image: url(i);
      }
      /* cursor */
      .cursor {
        position: fixed;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 2;
        pointer-events: none;
      }
      .cursor div {
        position: absolute;
        display: grid;
        place-items: center;
      }
      .cursor div div {
        border: 1px solid #fff;
        border-radius: 50%;
        animation: pulse 2.5s linear infinite;
        box-shadow: 0 0 50px 5px #5e8dd86e;
      }
      .cursor div:nth-child(1),
      .cursor div:nth-child(2) {
        width: 100%;
        height: 100%;
      }
      .cursor div:nth-child(1) {
        transition: transform 0.7s ease-out;
      }
      .cursor div:nth-child(2) {
        transition: transform 0.1s ease-out;
      }
      .cursor div:nth-child(2) div {
        background: #fff;
        border-radius: 50%;
        width: 8px;
        height: 8px;
      }

      /* scroll Down button */
      #scroll-wrapper {
        display: table;
        width:100%;
        height:100%;
      
        margin-top: 450px;
        margin-left: 100px;
       
        
      }
      
      #scroll-wrapper-inner {
        display: table-cell;
        vertical-align:middle;
        width:100%;
        height:100%;
      }
      
      #scroll-down {
          display: block;
          position: relative;
          padding-top: 79px;
        text-align:center;
        color: #ffffff;
      }
      
      #scroll-title {
          display: block;
          text-transform: uppercase;
          color: rgb(255, 244, 244);
        font-family: "raleway";
        font-size:14px;
        font-weight:bold;
        letter-spacing:0.4em;
         text-align:center;
         transform: rotate(90deg);
        margin-bottom: 45px;
      }
      #scroll-down::before {
          -webkit-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
          /* Safari 4+ */
          
          -moz-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
          /* Fx 5+ */
          
          -o-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
          /* Opera 12+ */
          
          animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
          /* IE 10+, Fx 29+ */
          
          position: absolute;
          top: 0px;
          left: 50%;
          margin-left: -1px;
          width: 2px;
          height: 90px;
          background: rgb(255, 255, 255);
          content: ' ';
      }
      @-webkit-keyframes elasticus {
          0% {
              -webkit-transform-origin: 0% 0%;
              -ms-transform-origin: 0% 0%;
              -moz-transform-origin: 0% 0%;
              -o-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
              -webkit-transform: scale(1, 0);
              -ms-transform: scale(1, 0);
              -moz-transform: scale(1, 0);
              -o-transform: scale(1, 0);
              transform: scale(1, 0);
          }
          50% {
              -webkit-transform-origin: 0% 0%;
              -ms-transform-origin: 0% 0%;
              -moz-transform-origin: 0% 0%;
              -o-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
              -webkit-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1);
          }
          50.1% {
              -webkit-transform-origin: 0% 100%;
              -ms-transform-origin: 0% 100%;
              -moz-transform-origin: 0% 100%;
              -o-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
              -webkit-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1);
          }
          100% {
              -webkit-transform-origin: 0% 100%;
              -ms-transform-origin: 0% 100%;
              -moz-transform-origin: 0% 100%;
              -o-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
              -webkit-transform: scale(1, 0);
              -ms-transform: scale(1, 0);
              -moz-transform: scale(1, 0);
              -o-transform: scale(1, 0);
              transform: scale(1, 0);
          }
      }
      @-moz-keyframes elasticus {
          0% {
              -webkit-transform-origin: 0% 0%;
              -ms-transform-origin: 0% 0%;
              -moz-transform-origin: 0% 0%;
              -o-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
              -webkit-transform: scale(1, 0);
              -ms-transform: scale(1, 0);
              -moz-transform: scale(1, 0);
              -o-transform: scale(1, 0);
              transform: scale(1, 0);
          }
          50% {
              -webkit-transform-origin: 0% 0%;
              -ms-transform-origin: 0% 0%;
              -moz-transform-origin: 0% 0%;
              -o-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
              -webkit-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1);
          }
          50.1% {
              -webkit-transform-origin: 0% 100%;
              -ms-transform-origin: 0% 100%;
              -moz-transform-origin: 0% 100%;
              -o-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
              -webkit-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1);
          }
          100% {
              -webkit-transform-origin: 0% 100%;
              -ms-transform-origin: 0% 100%;
              -moz-transform-origin: 0% 100%;
              -o-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
              -webkit-transform: scale(1, 0);
              -ms-transform: scale(1, 0);
              -moz-transform: scale(1, 0);
              -o-transform: scale(1, 0);
              transform: scale(1, 0);
          }
      }
      @-o-keyframes elasticus {
          0% {
              -webkit-transform-origin: 0% 0%;
              -ms-transform-origin: 0% 0%;
              -moz-transform-origin: 0% 0%;
              -o-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
              -webkit-transform: scale(1, 0);
              -ms-transform: scale(1, 0);
              -moz-transform: scale(1, 0);
              -o-transform: scale(1, 0);
              transform: scale(1, 0);
          }
          50% {
              -webkit-transform-origin: 0% 0%;
              -ms-transform-origin: 0% 0%;
              -moz-transform-origin: 0% 0%;
              -o-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
              -webkit-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1);
          }
          50.1% {
              -webkit-transform-origin: 0% 100%;
              -ms-transform-origin: 0% 100%;
              -moz-transform-origin: 0% 100%;
              -o-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
              -webkit-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1);
          }
          100% {
              -webkit-transform-origin: 0% 100%;
              -ms-transform-origin: 0% 100%;
              -moz-transform-origin: 0% 100%;
              -o-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
              -webkit-transform: scale(1, 0);
              -ms-transform: scale(1, 0);
              -moz-transform: scale(1, 0);
              -o-transform: scale(1, 0);
              transform: scale(1, 0);
          }
      }
      @keyframes elasticus {
          0% {
              -webkit-transform-origin: 0% 0%;
              -ms-transform-origin: 0% 0%;
              -moz-transform-origin: 0% 0%;
              -o-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
              -webkit-transform: scale(1, 0);
              -ms-transform: scale(1, 0);
              -moz-transform: scale(1, 0);
              -o-transform: scale(1, 0);
              transform: scale(1, 0);
          }
          50% {
              -webkit-transform-origin: 0% 0%;
              -ms-transform-origin: 0% 0%;
              -moz-transform-origin: 0% 0%;
              -o-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
              -webkit-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1);
          }
          50.1% {
              -webkit-transform-origin: 0% 100%;
              -ms-transform-origin: 0% 100%;
              -moz-transform-origin: 0% 100%;
              -o-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
              -webkit-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1);
          }
          100% {
              -webkit-transform-origin: 0% 100%;
              -ms-transform-origin: 0% 100%;
              -moz-transform-origin: 0% 100%;
              -o-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
              -webkit-transform: scale(1, 0);
              -ms-transform: scale(1, 0);
              -moz-transform: scale(1, 0);
              -o-transform: scale(1, 0);
              transform: scale(1, 0);
          }
      }

/* subscribe */

header {
    height: 600px;
    width: 100vw;
    background: black;
    overflow: hidden;
}

.img-bg {
 background-position: center;
   opacity: 0.4;
}

/* srcoll down */
.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 205px;
  }
  
  
  .m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
  }
  
  
  .unu
  {
    margin-top: 1px;
  }
  
  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;
    
  }
  
  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    
    animation-direction: alternate;
    animation-delay: alternate;
  }
  
  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .2s;
    animation-direction: alternate;
    
    margin-top: -6px;
  }
  
  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .3s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
  }
  
  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
  }
  
  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }

  /* typying */
  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 200px;
    z-index: 1000;
  
  }
  
  
  .m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
  }
  
  
  .unu
  {
    margin-top: 1px;
  }
  
  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;
    
  }
  
  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    
    animation-direction: alternate;
    animation-delay: alternate;
  }
  
  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .2s;
    animation-direction: alternate;
    
    margin-top: -6px;
  }
  
  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .3s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;

   
  }
  
  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
  }
  
  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }




  /* parallax */
  @keyframes blink { 50% { fill: transparent }}
.dot { 
  animation: 1s blink infinite;
  fill: grey;
}
.dot:nth-child(2) { animation-delay: 250ms }
.dot:nth-child(3) { animation-delay: 500ms }

.loader {

  color: rgb(255, 252, 252);
}